.services {
    margin: 0 auto;
    padding-top: 153px;
    background: #121212;
    color: white;
}

.services__image-one {
    margin-bottom: 15px;
    height: 270px;
}

.services__image-two {
    margin-bottom: 11px;
}

.services__image-three {
    margin-bottom: 13px;
}

.services__image-four {
    margin-bottom: 14px;
}

.services__text {
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
}

.services__list:last-child {
    padding-bottom: 159px;
}

.services__text-two {
    padding-left: 2px;
}

.services__text-three {
    padding-left: 3px;
}

.services__last-text {
    margin-bottom: -7px;
    padding-left: 4px;
}